.hero{
    padding-bottom:30px;
    background-color: #03A9F3;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom center;
    background-attachment: fixed;
    text-align: center;
    /*turi buti nemazesne nei ekrano aukstis*/
    min-height:100vh;
}

    .hero > .row{
        width:600px;
        margin: 0 calc(50% - 300px);
    }

    .hero img{
        width:40px;
        margin-bottom: 40px;
    }

    .hero h1{
        width:100%;
        margin-bottom: 20px;
        font-size:48px;
        line-height:50px;
        text-transform: uppercase;
    }

    .hero p{
        width:100%;
        font-size: 20px;
        line-height:25px;
        color:#555;
    }

    .hero .clock{
        width:100%;
        margin:80px 0;
        color:#fff;
    }

        .hero .clock > .time {
            width: 25%;
            float: left;
        }
            .clock > .time > .value {
                width: 100%;
                font-size: 70px;
                line-height: 70px;
            }
            .clock > .time > .label {
                width: 100%;
                font-size: 20px;
                line-height: 20px;
            }

    .hero .form{
        width: 90%;
        margin: 0 5% 20px;
    }

        .hero .form > input{
            color:#fff;
            background-color: transparent;
            border-bottom:solid 1px #fff;
            outline: none;
        }

        .hero .form > input::placeholder{
            color:#fff;
        }

    .hero .mouse {
        width:160px;
        height:220px;
        background-color: transparent;
        border:10px solid #fff;
        border-radius: 50px;
    }

        .hero .mouse > .wheel{
            width:60px;
            height:60px;
            background-color: #efff;
            margin-top: 30px;
            animation: mouse 1.5s ease-out 0s infinite normal forwards;
            border-radius: 5px;
            background-image: url(../img/mouse.jpeg);
            background-size: contain;
            background-repeat: no-repeat;
        }

       /* .hero .mouse > .wheel:hover{
           animation-play-state: paused;
        }*/

        @keyframes mouse {
            0%{
                margin-top: 30px;
                opacity: 1;
                /*transform: rotate(0deg);*/
            }
            50%{
                opacity: 1;
            }
            100%{
                margin-top: 120px;
                opacity: 0;
                /*transform: rotate(1000deg);*/
            }
        }

@media (max-width: 700px) {
    .hero > .row {
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
}

@media (max-width: 500px) {
    .hero .clock > .time {
        width: 50%;
    }
        .hero .clock > .time:nth-child(1),
        .hero .clock > .time:nth-child(2) {
            margin-bottom: 30px;
        }
}